<link rel="stylesheet" type="text/css" href="css/changeRequestDetails.css">
<link rel="stylesheet" type="text/css" href="css/orderDetails.css">
<link rel="stylesheet" type="text/css" href="css/quoteDetails.css">
<link rel="stylesheet" type="text/css" href="css/common-lg.css">
<style>
	.items{
		background-color: white !important;
	}
</style>
<div class="cr-wrapper">
	<px-card class="card-head">
		<div class="clearfix">
			<h2 class="desk-50 lt cr-heading" style="display: -webkit-inline-box"><span class="cr">Quote Number# :</span>&nbsp;<span class="cr_id">{{QuoteNumber}}</span></h2>
			<h3 class="desk-20 rt cr-heading" style="display: -webkit-inline-box"><span class="cr">Value :</span>&nbsp;<span class="cr_id">{{totalSP | currency : currency1+'&nbsp;' : 2}}</span></h3>
		</div>
			<div class="imp_details clearfix">
					<div class="desk-20 small-50 lt details_div">
							<p class="small_label">Created Date</p>
							<p class="big_label"><i class="fa fa-calendar small_label"></i>&nbsp;&nbsp;{{QuoteDate | date : 'mediumDate'}}</p>
					</div>
					<div class="desk-20 small-50 lt details_div">
							<p class="small_label">Quote Status</p>
							<p class="big_label"><span ng-if="QuoteStatus == 'confirmed'" class="status_pending"></span><span ng-if="QuoteStatus == 'accepted'" class="status_accept"></span><span ng-if="QuoteStatus == 'rejected'" class="status_reject"></span>&nbsp;&nbsp;{{QuoteStatus}}</p>
					</div>
					<div class="desk-20 small-50 lt details_div">
							<p class="small_label">Version</p>
							<p class="big_label">{{QuoteVersion}}</p>
					</div>
			</div>
	</px-card>
	<px-card id="AcceptDiv" ng-show="successMessage" >
		<div class="sucess_msg" style="margin-top:2% !important">
      <p>The Quote# {{QuoteNumber}} has been accepted successfully.</p>
    </div>
	</px-card>
	<px-card id="RejectDiv2" ng-show="AcknowledgeReject">
	<div class="reject_form" style="margin-top:2% !important;margin-left:0 !important">
      <p style="color:#d9534f">The Quote# {{QuoteNumber}} has been rejected successfully.</p>
    </div>
	</px-card>
	<px-card id="RejectDiv" ng-show="rejectDetails">
	<h3 class="cr-heading" style="color:#d9534f; margin-bottom:0px !important">Reject Quote</h3>
	<div class="layout" ng-show="rejectDetails" style="margin-top:2% !important;margin-left:0 !important">
  		<div class="layout__item reject_form">
  			<table>
  				<tr>
  					<td class="label_td"><label for="cmnt">Comments:</td>
  					<td><textarea id="cmnt" ng-model="comments"></textarea></td>
  				</tr>
  				<tr>
  					<td class="label_td">Supporting Documents:</td>
  					<td>
  						<input type="file" name="" file-input="files"/>
  					</td>
  				</tr>
  			</table>
  			<div class="clearfix">
  				<button type="submit" class="form-field--inline btn btn-reject rt" ng-click="rejectClicked()">Reject Quote</button>
  			</div>
  		</div>
  	</div>
	</px-card>
	<px-card>
			<div class="clearfix">
					<h3 class="desk-50 lt cr-heading label-color">Quote Details</h3>
					<div ng-if="QuoteStatus == 'confirmed'" class="desk-50 rt clearfix cr_btns">
						<a title="Accept" id="AcceptButton" class="btn disabled" ng-show="acceptbutton" ng-click="acceptClicked()" style="float:right">Accept</a>
						<a title="Reject" id="RejectButton" style="background-color:#f15854;color:white;float:right;margin-right:2%" class="btn" ng-disabled="acceptDetails" ng-click="rejectBtnClicked()">Reject</a>
						<a title="Details" id="CompleteDetails" class="btn" style="background-color:#60bd68;color:white;float:right" ng-click="acceptbutton = true; completeDetails()" ng-hide="acceptbutton" ng-disabled="rejectDetails">Complete the Details</a>
					</div>
			</div>
			<div class="adr_div clearfix">
					<div class="desk-20 small-50 lt details_div">
							<p class="small_label">Government Agreement</p>
							<p class="big_label" id="customer_number">{{custName}}</p>
					</div>
					<div class="desk-30 small-50 lt details_div">
							<p class="small_label">Terms of Delivery</p>
							<p class="big_label" id="customer_number">{{DeliveryTerms}}</p>
					</div>
					<div class="desk-20 small-50 lt details_div">
							<p class="small_label">Billing Terms</p>
							<p class="big_label" id="order_ff_status">{{BillingTerms}}</p>
					</div>
					<div class="desk-20 small-50 lt details_div">
							<p class="small_label">Payment Terms</p>
							<p class="big_label" id="taxable_status">{{paymentTerms}}</p>
					</div>
			</div>
			<div class="adr_div clearfix">
					<div class="desk-50 lt">
							<p class="small_label">Ship To</p>
							<p class="big_label bottom-margin"><i class="fa fa-map-marker small_label"></i>&nbsp;&nbsp;{{ShipToAddress1}}</p>
							<p class="big_label side-margin bottom-margin">{{ShipToAddress2}}</p>
							<p class="big_label side-margin bottom-margin">{{ShipToAddress3}}</p>
							<p class="big_label side-margin">{{ShipToCity}}</p>
							<p class="big_label side-margin">{{ShipToCountry}}</p>
							<p class="big_label side-margin">{{ShipToPostalCode}}</p>
							<p class="big_label side-margin">{{ShipToProvince}}</p>
							<p class="big_label side-margin">{{ShipToState}}</p>
					</div>
					<div class="desk-50 lt">
							<p class="small_label">Bill To</p>
							<textarea ng-show="completedetails" id="billTo" ng-change="enableAccept()" style="width:440px;height:100px" ng-model="BillTo" required></textarea>
					</div>
			</div>
			<div class="adr_div clearfix">
					<div class="desk-20 small-50 lt details_div">
							<p class="small_label">PO Number</p>
							<input  ng-show="completedetails" style="width:140px" ng-change="enableAccept()" class="form-field--inline text-input input--tiny form-control" ng-model="PONumber" id="poNum" type="text" placeholder="" required>
					</div>
					<div class="desk-30 small-50 lt details_div">
							<p ng-show="completedetails" class="small_label">PO</p>
							<form name="uploadDoc">
								<input ng-show="completedetails" type="file" id="uploadDoc" file-input="files"/>
							</form>
					</div>
			</div>
	</px-card>
	<px-card>
			<div>
					<h3 class="cr-heading label-color">Quote Summary</h3>
			</div>
			<div class="adr_div clearfix">
					<div class="desk-20 small-50 lt details_div">
							<p class="small_label">Total Contract List Price</p>
							<p class="big_label" id="customer_number">{{totalLP | currency : currency1+'&nbsp;' : 2}}</p>
					</div>
					<div class="desk-30 small-50 lt details_div">
							<p class="small_label">Total Quote Discount</p>
							<p class="big_label" id="customer_number">{{totalDisc | currency : currency1+'&nbsp;' : 2}}</p>
					</div>
					<div class="desk-20 small-50 lt details_div">
							<p class="small_label"> Total Extended Selling Price</p>
							<p class="big_label" id="order_ff_status">{{totalSP | currency : currency1+'&nbsp;' : 2}}</p>
					</div>
					<div class="desk-20 small-50 lt details_div">
							<p class="small_label">Total Quote Net Selling Price</p>
							<p class="big_label" id="taxable_status">{{totalSP | currency : currency1+'&nbsp;' : 2}}</p>
					</div>
			</div>
	</px-card>
	<px-card>
		<h4>Item Details</h4>
  <px-data-table table-data='{{itemDetails}}' language="en" table-rows="true" include-all-columns="true">
    <px-data-table-column name="srno" Label="#" class="items"></px-data-table-column>
    <px-data-table-column name="qty" label="Qty" class="items"></px-data-table-column>
    <px-data-table-column name="itemNo" label="Item#" class="items"></px-data-table-column>
    <px-data-table-column name="desc" label="Description" class="items"></px-data-table-column>
    <px-data-table-column name="cPrice" label="Ext Contract Price" class="items"></px-data-table-column>
    <px-data-table-column name="disc" label="Discount(%)" class="items"></px-data-table-column>
    <px-data-table-column name="sPrice" label="Ext Sell Price" class="items"></px-data-table-column>
  </px-data-table>
	</px-card>
	<px-card>
		<div>
				<h3 class="cr-heading label-color">Supporting Documents</h3>
		</div>
		<table>
			<tr ng-show="docFlag" ng-repeat = "document in supporting_documents">
					<td>{{$index+1}}. &nbsp;&nbsp;<a target="_blank" href="" ng-click="displayFile(document.url)">{{document.description}}</a></td>
				</tr>
				<tr ng-show="!docFlag">
					<td>No documents related to this Quote</td>
				</tr>
		</table>
	</px-card>
	<px-card>
		<div>
				<h3 class="cr-heading label-color">Terms and Conditions</h3>
		</div>
		<table>
							<tr>
									<td style="width:15px; font-weight:bold">1</td>
									<td>Equipment warranty period; from acceptance</td>
									<td style="padding-left:10px;">{{quote_terms.equip_wrnty_prd}}</td>
							</tr>
							<tr>
									<td style="width:15px; font-weight:bold">2</td>
									<td>Software warranty period; from acceptance</td>
									<td style="padding-left:10px;">{{quote_terms.soft_wrnty_prd}}</td>
							</tr>
							<tr>
									<td style="width:15px; font-weight:bold">4.1</td>
									<td>Cancellation charges </td>
									<td style="padding-left:10px;">{{quote_terms.canc_charge}}</td>
							</tr>
							<tr>
									<td style="width:15px; font-weight:bold">4.3</td>
									<td>Transportation, Transfer and Risk of Loss</td>
									<td style="padding-left:10px;">{{quote_terms.ship_terms}}</td>
							</tr>
							<tr>
									<td style="width:15px; font-weight:bold">4.5</td>
									<td>Information Technology Professional Services (ITPS)</td>
									<td style="padding-left:10px;">{{quote_terms.itps}}</td>
							</tr>
							<tr>
									<td style="width:15px; font-weight:bold">4.6.1</td>
									<td>Equipment acceptance not exceed; time from shipment in days</td>
									<td style="padding-left:10px;">{{quote_terms.equip_accpt_time}}</td>
							</tr>
							<tr>
									<td style="width:15px; font-weight:bold">4.6.1</td>
									<td>Equipment meets spec</td>
									<td style="padding-left:10px;">{{quote_terms.equip_meets_spec}}</td>
							</tr>
							<tr>
									<td style="width:15px; font-weight:bold">4.6.2</td>
									<td>Software acceptance not to exceed; time from implementation</td>
									<td style="padding-left:10px;">{{quote_terms.soft_accpt}}</td>
							</tr>
							<tr>
									<td style="width:15px; font-weight:bold">4.6.3</td>
									<td>Third party product acceptance timing</td>
									<td style="padding-left:10px;">{{quote_terms.tprty_accpt_time}}</td>
							</tr>
							<tr>
									<td style="width:15px; font-weight:bold">4.9</td>
									<td>GE audit costs; payment due duration</td>
									<td style="padding-left:10px;">{{quote_terms.ge_audit_cost}}</td>
							</tr>
							<tr>
									<td style="width:15px; font-weight:bold">5.2</td>
									<td>Disable or remove products for failure to pay</td>
									<td style="padding-left:10px;">{{quote_terms.dable_rmv_pdt_pay_fail}}</td>
							</tr>
							<tr>
									<td style="width:15px; font-weight:bold">5.3</td>
									<td>Late payment</td>
									<td style="padding-left:10px;">{{quote_terms.late_paymt}}</td>
							</tr>
					</table>
	</px-card>
</div>
